.sobre__conquistas {
    margin-top: 3rem;
}

.sobre__conquistas-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.sobre__conquistas-direita > p {
    margin: 1.6rem 0 2.5rem;
}

.conquistas__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.conquistas__card {
    background: var(--cor-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transição);
}

.conquistas__card:hover {
    background: var(--cor-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.conquistas__icones {
    background: var(--cor-perigo);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.conquistas__card:nth-child(2) .conquistas__icones {
    background: var(--cor-sucesso);
}

.conquistas__card:nth-child(3) .conquistas__icones {
    background: var(--cor-primaria);
}

.conquistas__card p {
    margin-top: 1rem;
}

    
