* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #6c63ff;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);
  --cor-branco: #fff;
  --cor-clara: rgba(255, 255, 255, 0.7);
  --cor-escura: #000;
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transição: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--cor-branco);
  background: var(--cor-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--cor-branco);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--cor-branco);
  color: var(--cor-escura);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transição);
}

.btn:hover {
  background: transparent;
  color: var(--cor-branco);
  border-color: var(--cor-branco);
}

.btn-primario {
  background: var(--cor-perigo);
  color: var(--cor-branco);
}

/* NAVEGAÇÃO */

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* Alterar o estilo de navegação na rolagem usando javascript */
.window-scroll {
  background: var(--cor-primaria);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transição);
}

.nav__menu a:hover {
  color: var(--cor-bg2);
}

/*=== HEADER ===*/

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__esquerda p {
  margin: 1rem 0 2.4rem;
}

/* === CATEGORIAS ===*/

.categorias {
  background: var(--cor-bg1);
  height: 32rem;
}

.categorias h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categorias__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categorias__esquerda {
  margin-right: 4rem;
}

.categorias__esquerda p {
  margin: 1rem 0 3rem;
}

.categorias__direita {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.categoria {
  background: var(--cor-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transição);
}

.categoria:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.categoria:nth-child(2) .categoria__icone {
  background: var(--cor-perigo);
}

.categoria:nth-child(3) .categoria__icone {
  background: var(--cor-sucesso);
}

.categoria:nth-child(4) .categoria__icone {
  background: var(--cor-alerta);
}

.categoria:nth-child(5) .categoria__icone {
  background: var(--cor-sucesso);
}

.categoria__icone {
  background: var(--cor-primaria);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.categoria h5 {
  margin: 2rem 0 1rem;
}

.categoria p {
  font-size: 0.85rem;
}

/*=== CURSOS ===*/

.cursos {
  margin-top: 10rem;
}

.cursos__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.cursos {
  background: var(--cor-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transição);
}

.cursos:hover {
  background: transparent;
  border-color: var(--cor-primaria);
}

.cursos__info {
  padding: 2rem;
}

.cursos__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/*=== FAQ ===*/

.faqs {
  background: var(--cor-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--cor-primaria);
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icone {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.abrir p {
  display: block;
}

/*=== DEPOIMENTOS ===*/

.depoimentos__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.depoimento {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--cor-bg1);
}

.depoimento__info {
  text-align: center;
}

.depoimento__corpo {
  background: var(--cor-primaria);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.depoimento__corpo::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--cor-primaria),
    var(--cor-primaria),
    var(--cor-primaria)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/*=== FOOTER ===*/

footer {
  background: var(--cor-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

.footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__sociais {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer__copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--cor-bg2);
}

/* ===== CONSULTAS DE MÍDIA - GRANDE ===== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* ===== NAVEGAÇÃO ===== */
}
nav button {
  display: inline-block;
  background: transparent;
  font-size: 1.8rem;
  color: var(--cor-branco);
  cursor: pointer;
}

nav button#close-menu-btn {
  display: none;
}

.nav__menu {
  position: fixed;
  top: 5rem;
  right: 5%;
  height: fit-content;
  width: 18rem;
  flex-direction: column;
  gap: 0;
  display: none;
}

.nav__menu li {
  width: 100%;
  height: 5.8rem;
  animation: animateNavItems 400ms linear forwards;
  transform-origin: top right;
  opacity: 0;
}

.nav__menu li:nth-child(2) {
  animation-delay: 200ms;
}

.nav__menu li:nth-child(3) {
  animation-delay: 400ms;
}

.nav__menu li:nth-child(4) {
  animation-delay: 600ms;
}

@keyframes animateNavItems {
  0% {
    transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
  }
  100% {
    transform: rotateZ(0deg) rotateX(0) scale(1);
    opacity: 1;
  }
}

.nav__menu li a {
  background: var(--cor-primaria);
  box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.nav__menu li a:hover {
  background: var(--cor-bg2);
  color: var(--cor-branco);
}

/* ===== HEADER ===== */

header {
  height: 52vh;
  margin-bottom: 4rem;
}

.header__container {
  gap: 0;
  padding-bottom: 3rem;
}

/* ===== CATEGORIAS ===== */

@media screen and (max-width: 1024px) {
  .categorias {
    height: auto;
  }

  .categorias__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .categorias__direita {
    grid-template-columns: 1fr;
  }
}

/* ===== CURSOS ===== */
@media screen and (max-width: 1024px) {
  .cursos {
    margin-top: 0;
  }

  .cursos__container {
    grid-template-columns: 1fr 1fr;
  }
}
/* ===== FAQ ===== */

.faqs__container {
  grid-template-columns: 1fr;
}

.faq {
  padding: 1.5rem;
}

/* ===== FOOTER ===== */
.footer__container {
  grid-template-columns: 1fr 1fr;
}

/* ===== CONSULTAS DE MÍDIA - PEQUENA ===== */

@media screen and (max-width: 600) {
  .container {
    width: var(--container-width-sm);
  }

  /* ===== NAV ===== */

  .nav__menu {
    right: 3%;
  }

  /* ===== HEADER ===== */

  header {
    height: 100vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header__esquerda p {
    margin-bottom: 1.3rem;
  }
  
  /* ===== CATEGORIAS ===== */

  .categorias__direita {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .categoria {
    padding: 1rem;
    border-radius: 1rem;
  }

  .categoria__icone {
    margin-top: 4px;
    display: inline-block;
  }

  /* ===== CURSOS ===== */

  .cursos__container {
    grid-template-columns: 1fr;
  }

  /* ===== DEPOIMENTOS ===== */

  .depoimento__corpo {
    padding: 1.2rem;
  }

  /* ===== FOOTER ===== */

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer__1 p {
    margin: 1rem auto;
  }

  .footer__sociais {
    justify-content: center;
  }

}
